<section>
  <h1>About Me</h1>
  <p>
    I build and design web and mobile applications.
    I'm in love with PaaS compatible designs which embrace service oriented architecture, horizontal scalability and object oriented mindset.
  </p>

  <p>
    I can help you design and evaluate your service's overall concept and business goals. I take full responsibility and pride of what I promise.
  </p>

  <p>
    If you share a passion for well designed internet services and need a full-stack professional who delivers,
    <br>
    <a href="mailto:petrus.repo@enemy.fi">ask me out for a lunch</a>!
  </p>

  <a href="http://fi.linkedin.com/in/petrusrepo"><img src="http://www.linkedin.com/img/webpromo/btn_profile_bluetxt_80x15.png" width="80" height="15" border="0" alt="View Petrus Repo's profile on LinkedIn"></a>
</section>
