---
---

@import "{{ site.theme }}";

h1.project-name {
  color: red;
}

.page-navigation {
  font-size: 80%;
  display: block;
  width: auto;
  overflow: hidden;
}

.page-navigation .next-page, .page-navigation .previous-page {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.page-navigation .previous-page {
  text-align: left;
}

.page-navigation .next-page {
  text-align: right;
}
